.paint {
  cursor: pointer;
}

.paint:hover {
  z-index: 5;
  box-shadow: 0.5px 0.5px 1px 1px black;
}

.palette {
  margin-top: 20px;
  border: 1px solid lightgrey;
  height:30px;
  width: 30px;
  display: inline-block;
}

.palette:hover {
  border: 3px solid grey;
  cursor: pointer
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

#game-box {
  width: 550px;
  height: 550px;
  border: 1px solid grey;
  border-radius: 0;
  text-align: center;
  margin: auto;
  padding: 0px;
  padding-bottom: 1px;
}
