/* html,body{
    margin:0;
    padding: 0;
}

body{
   overflow: hidden;
} */

#left{
    position: relative;
    width: 10px;
    height: 100px;
    background-color: black;
    float: left;
}

#right{
    position: relative;
    width: 10px;
    height: 100px;
    background-color: black;
    float: right;
}

#ball{
    position: relative;
    width: 20px;
    height: 20px;
    background-color:black;
    border-radius: 50%;
}

#deli,#scoreleft,#scoreright{
    font-size: 100%;
    color: black;
    z-index: 10;
}

#goal{
    font-size: 100%;
    transition: 1.5s all;
    display: inline-block;
}
