.greenPlayer {
  /* background-image: linear-gradient(#013a01, #67ff00, #013a01) */
  background-image: url("green.png");
  background-size: cover;
}

.orangePlayer {
  /* background-image: linear-gradient(#8e4500, yellow, #8e4500); */
  background-image: url("blue.png");
  background-size: cover;
}

#up {
  transform: rotate(270deg);
}

#down {
  transform: rotate(90deg);
}

#left {
  transform: rotate(180deg);
}

#right {
  transform: rotate(0deg);
}

.bullet {
  background-color: red;
  border-radius: 50px
}

#game-box {
  width: 550px;
  height: 550px;
  border: 1px solid grey;
  border-radius: 0;
  text-align: center;
  margin: auto;
  padding: 0px;
  padding-bottom: 1px;
}
