.blue {
  background-color: deepskyblue;
}

.pink {
  background-color: deeppink;
}

.b-head {
  background-color: darkblue;
}

.p-head {
  background-color: purple;
}

#game-box {
  width: 550px;
  height: 550px;
  border: 1px solid grey;
  border-radius: 0;
  text-align: center;
  margin: auto;
  padding: 0px;
  padding-bottom: 1px;
}
